.md-embed {

  &__media {
    padding: 20px;

    &__iframe {
      border: none;
      width: 100%;
      height: 400px;
    }

  }

  .twitter-tweet {
    margin: 0 auto !important;
  }

}

.megadraft-editor {
  .block__content.block__content--embed {
    line-height: 0;
  }

  .block__input {
    outline: none;
  }
}
