@font-face{
  font-family: $font-default;
  src: url('//s.glbimg.com/gl/ba/fonts/opensans-regular-webfont.eot');
  src: url('//s.glbimg.com/gl/ba/fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('//s.glbimg.com/gl/ba/fonts/opensans-regular-webfont.woff') format('woff'),
       url('//s.glbimg.com/gl/ba/fonts/opensans-regular-webfont.ttf') format('truetype'),
       url('//s.glbimg.com/gl/ba/fonts/opensans-regular-webfont.svg#opensans-regular-webfont') format('svg');
}

@font-face{
  font-family: $font-default-bold;
  src: url('//s.glbimg.com/gl/ba/fonts/opensans-bold-webfont.eot');
  src: url('//s.glbimg.com/gl/ba/fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('//s.glbimg.com/gl/ba/fonts/opensans-bold-webfont.woff') format('woff'),
       url('//s.glbimg.com/gl/ba/fonts/opensans-bold-webfont.ttf') format('truetype'),
       url('//s.glbimg.com/gl/ba/fonts/opensans-bold-webfont.svg#opensans-bold-webfont') format('svg');
}

@font-face {
  font-family: 'embed';
  src: url('fonts/embed.eot?37xcim');
  src: url('fonts/embed.eot?37xcim#iefix') format('embedded-opentype'),
       url('fonts/embed.ttf?37xcim') format('truetype'),
       url('fonts/embed.woff?37xcim') format('woff'),
       url('fonts/embed.svg?37xcim#embed') format('svg');
       font-weight: normal;
       font-style: normal;
}
