.md-embed-icon {
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  border-radius: 4px;
  border: 1px solid transparent;
  width: 20px;
  height: 20px;
  display: inline-block;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding: 4px;
  margin-right: 8px;
  font-size: 20px;
  cursor: pointer;

  &:hover {
    background-color: $color-gray;
    color: white;
    transition: all ease-in-out .20s;
  }

  &:active {
    background-color: $color-blue;
    transition: all ease-in-out .20s;
  }

  &--selected {
    border: 1px dashed $color-gray;
  }
}
